/*
 * This is the file of custom CSS styling that
 * can be set by the publisher.
 *
 * If you're writing the custom CSS, please see the reference:
 * https://github.com/gmemstr/Pogo/wiki/Custom-CSS/
 */

.container {} /* Basic container from styles.css */
.title {} /* Page title */
.adminlink { /* Link to admin interface */
	margin-left:100%;
	display:inline-block;
	margin-bottom: 10px;
	background-color: #397AD6;
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition:.52s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition:.5s;
}
.adminlink:hover {
	background-color: #50B7D5;
}

.podcastlist {} /* Chronological podcast list */

.podcastitem {} /* Single podcast item (group of elements) */
.podcasttitle {} /* Title of podcast item */
.podcastdate {} /* Date podcast item was published */
.podcastdesc {} /* Podcast item description */
.podcastaudio {} /* Podcast <audio> tag */