body {
	font-family: 'Roboto', Monospace;
	background-color: #3c3c3c;
	color: white;
}

.setupform {
	text-align: center;
}

label {
	display: block;
}
input,textarea {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px;
	border-radius: 5px;
}

textarea {
	resize: none;
}