@import url('https://fonts.googleapis.com/css?family=Muli');

body {
	font-family: 'Muli', sans-serif;
}
h1,h2,h3,h4,h5 {
	font-weight: 400;
}
.container {
  margin: 0 auto;
  padding: 0 2.0rem;
  position: relative;
  width: 60vw;
}

.podcast {
	width:70%;
}