/*
 * Basic CSS styling for frontend and admin interface.
 * Overridden by styles in custom.css for the podcast list.
 */

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
	font-family: 'Muli', sans-serif;
	margin:0; padding:0;
}
h1,h2,h3,h4,h5 {
	font-weight: 400;
}
.container {
  margin: 0 auto;
  padding: 0 2.0rem;
  position: relative;
  width: 60vw;
}

.podcast {
	width:70%;
}
label {
	display: block;
}
.admin {
	text-align: center;
}
hr {
	max-width: 40%;
}

.notifications {
	margin:0; padding:10px;
	font-size: 130%;
	height: 1.5vw;
	text-align: center;

}
